* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font: Arial, Helvetica, sans-serif;
    font: 16px "Helvetica Neue", Arial, sans-serif;
    background: #e9e9f1;
    color: #121214;

    // h1 {
    //     font-size: 80px;
    // } 
}